html,
body {
    background-color:cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    font-size: 16px;
}

#app {
    padding: 1rem 2rem;
}

#results {
    display: flex;
    flex-direction: column;
    max-height: 76vh;
    flex-wrap: wrap;
    gap: 1rem;
    flex-flow: "flex-start";
    align-content: flex-start;
    align-items: "flex-start";
    margin-top: 1rem;
}

.calculation {
    display: flex;
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    color: black;
    min-width: 7rem;
    height: 1rem;
    margin: 0;
}

header {
    display: flex;
    color: whitesmoke;
    font-weight: bolder;
    align-items: center;
    gap: 1rem;
}

header > p {
    margin-bottom: 7px;
}