html,
body {
    background-color:#121212;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

pre {
    font-size: 16px;
}

#results {
    display: flex;
    flex-direction: column;
    max-height: 76vh;
    flex-wrap: wrap;
    gap: 1rem;
    flex-flow: "flex-start";
    align-content: flex-start;
    align-items: "flex-start";
    margin: 2rem;
}

#buttons {
    margin: 1rem 0 0 2rem;
}

.calculation {
    display: flex;
    background-color: white;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    color: black;
    min-width: 7rem;
    height: 1rem;
    margin: 0;
}

header {
    display: flex;
    color: whitesmoke;
    font-weight: bolder;
    align-items: center;
    gap: 1rem;
    background-color: black;
    border-bottom: 1px solid #222;
    padding: 0 2rem;
    margin: 0;
}

header > p {
    margin-bottom: 7px;
}